body{
    padding: 0;
    margin: 0;
}
.navbar{
    background-color: blueviolet;
    display: flex;
    padding: 8px;
}

.left-nav, .right-nav{
    padding: 15px;
    margin: 0;
    flex: 1;
    display: flex;
    list-style-type: none;
    gap: 20px; 
}

.right-nav{
    justify-content: end;
}
.search{
    border-radius: 20px;
    border: none;
    padding-left: 10px;
}
li{
    margin-top: 10px;
}
.logo{
    max-height: 40px;  
}