body{
    padding: 0;
    margin: 0;

}
.nav{
    padding: 0;
    margin: 20px;
    list-style-type: none;

    
}
.left-nav{
    display: flex;
    flex-direction: row;
    gap: 50px;
    position: absolute;

}
li{
    padding: 5px;
}
li a{
    text-decoration: none;
    color: black;
}
.right-nav{
    justify-self: end;
    position: absolute;
}
.search{
    margin-right: 15px;
    padding: 5px;
    border-radius: 15px;
    border: none;
    background-color: bisque;
}
footer{
    bottom: 0;
    position: fixed;
    text-align: center;
    width: 100%;
    background-color: aquamarine;
}